extends ../layout

block scripts
    script(type='text/javascript', scr = '/socket.io/socket.io.js')
    script(type='text/javascript')
        var socket = io.connect('http://localhost:3000');





block content
    h1 Welcome to the chat.