script(src='/javascripts/jquery.js')
script(src='/javascripts/jquery-ui-1.10.4.custom.js')
script(src='/javascripts/bootstrap.js')
script(src='/javascripts/angular-1.2.13/angular.js')
script(src='/javascripts/angular-1.2.13/angular-resource.js')
script(src='/javascripts/angular-1.2.13/angular-route.js')
script(src='/javascripts/masterplayAngular.js')
script(src='/javascripts/configAngular/controllers.js')
script(src='/javascripts/configAngular/chessengine.js')
//script(src='/javascripts/chessModel.js.coffee')
script(src='/javascripts/configAngular/services.js')
script(src='/javascripts/MasterPlay.js')
script(src='/javascripts/HTML5API.coffee')
script(src='/javascripts/chessboardjs.js')



